# Shahar
#--------------
RunResults/
Runs/
out/
target/
workspace.xml
**/.idea/libraries/
**/KP-find-facility-Maven/.idea/
/bin
/releases
/maven
/build/
/repository/
/.settings
/test-output/
/img
/dependencies

appmodels/com/mf/**

*.iml
